extends template/header 
    
block content
    .container
        br
        h1.title 
        br
        if results
            include ./template/includes/search.pug
            br
            .modern-table-header 
                .modern-table-title
                    h2 Stocks
            table.modern-table
                tr
                    th Symbol
                    th Name  
                    th Type  
                    th Region 
                    th Currency 
                    th Status
                    th Prediction
                each result, i in results       
                    tr
                    td= result['1. symbol']
                    td= result['2. name']
                    td= result['3. type']
                    td= result['4. region']
                    td= result['8. currency']
                    td.action 
                        a(href='/stock/status/'+result['1. symbol']+'/'+result['2. name'])  <i class="material-icons">label_important</i>
                    td.action 
                        a(href='/predict/stock/'+result['1. symbol']) <i class="material-icons">timeline</i> 
        else
            link(rel='stylesheet' href='/resources/css/home.css')
            .corp_home
                #logo
                    <img src="/resources/images/logo.png" alt="logo">
                #search_bar
                    include ./template/includes/search.pug
                